/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end meyer reset */


/************************************/
/*             TYPOGRAPHY           */
/************************************/

body, html {
    background: black;
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
    font-family: "Helvetica Neue", arial;
    font-size: 13px;
    background-image: -moz-radial-gradient(center -5% 45deg, #badfef, #4b94d0 20%, #2e70b4 30%, #002a77 60%);
    background-image: -webkit-gradient(radial, 50% -5%, 1, 50% -5%, 1800, from(#badfef), color-stop(20%, #4b94d0), color-stop(30%, #2e70b4), color-stop(60%, #002a77));
}
#map_container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
#geo {
    position: absolute;
    top: 0;
    width: 100%;
    background: #000;
}
#geo {
    background-image: -moz-radial-gradient(center -5% 45deg, #badfef, #4b94d0 20%, #2e70b4 30%, #002a77 60%);
    background-image: -webkit-gradient(radial, 50% -5%, 1, 50% -5%, 1800, from(#badfef), color-stop(20%, #4b94d0), color-stop(30%, #2e70b4), color-stop(60%, #002a77));
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 3600px;
    height: 1800px;
}
#mapdata {
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    width:3600px;
    height:1800px;
    position: absolute;
    top: 0;
    left: 0;
}
#mapdata img {
    width: 3600px;
    height: 1800px;
    overflow: hidden;
    pointer-events: none;
}
polygon {
    fill: #031841;
    stroke: none;
}

#messages {
    list-style: none;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 512px;
    z-index: 20000;
}
.overlay {
    position: absolute;
    max-width: 500px;
    overflow: hidden;
    opacity: 0.9;
    text-shadow: 0 0 10px #fff;
    font-size: 0.7em;
    line-height: 10px;
    height: 12px;
    overflow: hidden;
}
.overlay strong {
    font-weight: bold;
}
.overlay .favicon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    float: left;
}
#header {
    background: #222; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #333333 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333333 0%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #333333 0%,#222222 100%); /* IE10+ */
    background: linear-gradient(top,  #333333 0%,#222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 16px;
    padding: 10px;
    border-bottom: 1px solid #4b78a1;
}
#header #logo {
    line-height: 16px;
    vertical-align: middle;
}
#header #logo img {
    float: left;
    display: inline-block;
    width: 164px;
    height: 16px;
    max-height: 100%;
}
#header #copy {
    color: #ccc;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 16px;
    font-size: 0.7em;
}
#header #copy a.options {
    color: #fff;
    font-weight: bold;
}
#header #copy strong {
    font-weight: bold;
}
#header #copy a {
    color: inherit;
    text-decoration: none;
}
#options {
    position: absolute;
    margin: 40px 3px;
    width: 300px;
    right: 0;
    top: 0;
    background: #222;
    border: 1px solid #4b78a1;
    display: none;
}
#options .title {
    padding: 10px;
    font-weight: bold;
    background: #222; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #333333 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333333 0%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #333333 0%,#222222 100%); /* IE10+ */
    background: linear-gradient(top,  #333333 0%,#222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #333;
}
#options .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    line-height: 14px;
    font-size: 11px;
    display: block;
}
#options .body {
    padding: 10px;
    line-height: 16px;
}
#options .body .field {
    margin-bottom: 10px;
}
#options .body label {
    display: block;
    margin-bottom: 5px;
}
#options .body input {
    color: #fff;
    display: block;
    border: none;
    background: #000;
    padding: 4px 3px;
    margin: 0;
    width: 272px;
}
#options .body .submit {

}